* {
    box-sizing: border-box;
    font-family: Verdana, Arial;
}

body {
    background-color: #e5e5e5;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #039;
    text-decoration: none;
}

.header a {
    text-decoration: none;
    color: white;
}

.topnav {
    display: flex;
    justify-content: center;
    background-color: #6698cb;
    text-decoration: none;
    padding: 2px;
}

.topnav a {
    text-decoration: none;
    color: white;
}

.topnav a:hover {
    text-decoration: underline;
    color: #039;
}

.avatar {
    width: 80px;
    height: 80px;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.largeAvatar .avatar {
    width: 240px;
    height: 240px;
}

.largeAvatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.largeAvatar {
    width: 240px;
    height: 240px;
}

.friendcard {
    padding: 10px;
    border-top: 1px solid black;
}

.chatmessages {
    overflow-y: scroll;
    height: 300px;
    width: 768px;
    background-color: white;
}

.chatmessage {
    border-top: 1px solid black;
    display: flex;
}

textarea {
    width: 768px;
    height: 100px;
}
